.list {
  width: 100%;
  display: flex;
  gap: 2rem;
  
  .col {
    overflow-y: auto;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
    flex: 1;
    border-bottom: 4px solid;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    min-height: 400px;
  }

  .from {
    border-color: cornflowerblue;
  }

  .to {
    border-color: orange;
  }
  
}
