.btn {
  border-radius: 8px;
  min-width: 40px;
  height: 40px;
  appearance: none;
  border: none;
  background-color: #c8c8c8;
  border-bottom: 4px solid #9c9c9c;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    border: none;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

// variants

.primary {
  background-color: cornflowerblue;
  border-bottom: 4px solid #3e7bec;

}

.secondary {
  background-color: orange;
  border-bottom: 4px solid #c78200;
}